*.swp
.idea
.DS_Store
.vscode/*
.editorconfig
.gitignore
.eslintrc.cjs
.husky
node_modules/
npm-debug.log*
package-lock.json
pnpm-lock.yaml
babel.config.js
scripts/
demo/
CHANGELOG.md
rollup.config.js
tsconfig.json
